[user]
	name = John Zimmermann
	email = me@johnnynator.dev
	signingkey = 29EB83169FB3714415F2D6B95FDE97AF468A09B7
[color]
	ui = auto
[gpg]
	program = gpg2
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[pull]
	rebase = true
